/*table style*/

#visitors {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ddd;
}

#visitors td,
#visitors th {
    border: 1px solid #ddd;
    padding: 8px;
}

#visitors tr:nth-child(even) {
    background-color: #f2f2f2;
}

#visitors tr:hover {
    background-color: #ddd;
}

#visitors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}